.block {
  width: 20vw;
  height: 20vw;
  display: block;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px){
  .block {
    width: 20vw;
  height: 20vw;
  }
}
@media only screen and (max-width: 425px){
  .block {
    width: 30vw;
  height: 30vw;
  }
}

@media only screen and (max-width: 320px){
  .block {
    width: 40vw;
  height: 40vw;
  }
}